{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://getbootstrap.com/favicon.ico">

        <title>Signin Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">

        {% block extra_css %}{% endblock %}
    </head>
    <body>

        {% block content %}{% endblock %}
        {% block extra_js %}{% endblock %}

        <script type="text/javascript" src="{% static 'js/signin.js' %}"></script>
    </body>
</html>


